.article-title {
    font-family: 'Oswald', Sans-Serif;
    font-size: 48px;
    font-weight: bold;
}

.article-subtitle1 {
    font-family: 'Oswald', Sans-Serif;
    font-size: 26px;
}

.article-subtitle2 {
    font-family: 'Oswald', Sans-Serif;
    font-size: 24px;
}

.article-saiyajin-name {
    font-family: 'Quattrocento', Serif;
    font-size: 20px;
}

.article-introdution {
    font-family: 'Quattrocento', Serif;
    font-size: 18px;
}

.article-saiyajin-description {
    font-family: 'Quattrocento', Serif;
    font-size: 16px;
}